@(news: List[String])


<!DOCTYPE html>
<html>
  <head>
    <title>SANNMA List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-1.9.0.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-default" role="navigation">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#">SANNMA</a>
      		<form class="navbar-form navbar-left" role="search">
        		<div class="btn-group">
	  				<button type="button" id="refresh" class="btn btn-info">Refresh</button>
  					<button type="button" id="registration" class="btn btn-primary">RSS registration</button>
				</div>
      		</form>
    	</div>
  	</div>
  </nav>
  </body>
</html>